body {
	margin: 0 auto;
	margin-bottom: 10px;
}
#motherdiv {
	width: 1080px;
	margin: 0 auto;
}
#header {
	height: 200px;
	text-align: center;
}
#header h1 {
	font-size: 2em;
	font-weight: bolder;
	padding-top: 50px;
	padding-bottom: 50px;
}
#main-container:after {
	content: " ";
    display: block;
    clear: both;
}
#side-menu {
	float: left;
	width: 25%;
}
#side-menu ul {
    padding: 5px;
    list-style-type: none;	
}
#side-menu ul li {
	background-image: url(bullet_tri.png);
	background-repeat: no-repeat;
	line-height: 35px;
	padding-left: 30px;
}
#main-content {
	float: right;
	width: 75%;
}
.important {
	color: red;
	font-weight: bold;
}
.code_highlight {
	color: forestgreen;
	font-weight: bold;
}
.code-block {
	text-align: left;
	padding: 20px;
	background-color: lightgray;
	border-radius: 5px;
	box-shadow: 2px 2px 5px #888888;
	overflow: hidden;
}
.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}